/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width:100vw;
  min-height:100vh;

} */

/* index.css */
html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}